<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>Zitat einsenden</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/style.css" media="all">
</head>
<body>
	<h1>Zitat einsenden</h1>
	<form action="/api/submitquote" method="post">
		<label for="quotefield">Zitat:</label>
		<input class="fullwidth" id="quotefield" name="text" type="text" required>
		<br>
		<label for="contextfield">Kontext (Situation; optional):</label>
		<input class="fullwidth" id="contextfield" name="text" type="text">
		<br>
		<label for="teacherfield">Lehrer*in:</label>
		<select id="teacherfield" name="teacherid" required>
			<option value="" selected disabled hidden></option>
			{{range .}}
			<option value="{{.ID}}">{{.Name}}, {{.Title}}{{if .Note}} ({{.Note}}){{end}}</option>
			{{end}}
		</select>
		<br>
		<input type="submit" value="Einsenden">
	</form>
</body>
</html>
