<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<form action="/quotes" method="post">
		<label for="quotefield">Zitat:</label>
		<input id="quotefield" name="quote" type="text">
		<br>
		<label for="teacherfield">Lehrer:</label>
		<select id="teacherfield" name="teacherid">
			{{range .}}
			<option value="{{.ID}}">{{.Name}}, {{.Title}}{{if .Note}} ({{.Note}}){{end}}</option>
			{{end}}
		</select>
		<br>
		<input type="submit">
	</form>
</body>
</html>
