body {
  max-width: 40em;
  margin: 0 auto;
  padding: 0 1em;
}

label {
  display: block;
}

input, select {
  display: block;
  line-height: 1.2em;
  padding: 0.3em;
  box-sizing:border-box;
}

.fullwidth {
  width: 100%;
}

.quote {
  margin: 2em 0;
}

.quote .text {
  font-size: 1.3em;
  line-height: 1.4;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

table {
  border-collapse: collapse;
  margin-top: 1em;
}

table td, table th {
  border: 1px solid;
  padding: 0.6em 0.4em;
}

table tr:nth-child(2n), table th {
  background-color: #ddd;
}

table a:link, table a:visited {
  color: blue;
}

.submitbtn {
  padding: 0.5em;
  border: solid 1px black;
  text-decoration: none;
  color: black;
}
