{{define "NAVIGATION"}}
<div class="navigation">
	<a class="first boxbutton-slim" {{if eq -1 .Prev}}disabled{{else}}href="?page=0"{{end}}>&lt;&lt;</a>
	&nbsp;
	<a class="previous boxbutton-slim" {{if eq -1 .Prev}}disabled{{else}}href="?page={{.Prev}}"{{end}}>&lt;</a>
	&nbsp;
	<span class="pageIndex">Seite {{inc .Current}} von {{inc .Last}}</span>
	&nbsp;
	<a class="next boxbutton-slim" {{if eq -1 .Next}}disabled{{else}}href="?page={{.Next}}"{{end}}>&gt;</a>
	&nbsp;
	<a class="last boxbutton-slim" {{if eq .Current .Last}}disabled{{else}}href="?page={{.Last}}"{{end}}>&gt;&gt;</a>
</div>
{{end}}

<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>Lehrerzitate</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/style.css" media="all">
</head>
<body>
	<h1>Lehrerzitate</h1>
	<div class="buttonrow">
		<a class="boxbutton" href="/submit">Zitat einsenden</a>
		{{if .IsAdmin}}
		<a class="boxbutton" href="/admin">Adminbereich</a>
		{{end}}
	</div>
	{{template "NAVIGATION" .}}
	<div class="quotelist">
		{{range .Quotes}}
		<div class="quote">
			<!--<span class="id"><i>Zitat #{{.QuoteID}}</i></span>-->
			{{if .Context}}<span>Situation: {{.Context}}</span>{{end}}
			<table>
				<tr>
					<td style="vertical-align: top;">
						{{if .Voted}}
						<img src="/static/heart-red.svg" class="likebutton">
						{{else}}
						<img src="/static/heart-gray.svg" class="likebutton">
						{{end}}
					</td>
					<td>
						<span class="text">„{{.Text}}“</span>
						<span class="teacher">~ {{with (GetTeacherByID .TeacherID)}}{{.Title}} {{.Name}}{{if .Note}} ({{.Note}}){{end}}{{end}}</span>
					</td>
				</tr>
			</table>
		</div>
		{{end}}
	</div>
	{{template "NAVIGATION" .}}
</body>
</html>
