<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>Zitat einsenden</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/style.css" media="all">
</head>
<body>
	<h1>Zitat einsenden</h1>
	<form id="form-submit" method="post">
		<label for="quotefield">Zitat:</label>
		<input class="fullwidth" id="quotefield" name="text" type="text" required>
		<br>

		<label for="contextfield">Kontext (Situation; optional):</label>
		<input class="fullwidth" id="contextfield" name="context" type="text">
		<br>

		<label for="teacherselect">Lehrer:</label>
		<select id="teacherselect" name="teacherid" required>
			<option value="" selected disabled hidden></option>
			<option value=""><i>selbst eingeben...</i></option>
			{{range .}}
			<option value="{{.TeacherID}}">{{.Name}}, {{.Title}}{{if .Note}} ({{.Note}}){{end}}</option>
			{{end}}
		</select>
		<br>

		<div class="customteacher" style="display: none">
			<input style="display: inline-block;" id="certainthatcustom" type="checkbox">
			<label style="display: inline-block;" for="certainthatcustom">Ich habe sichergestellt, dass der gewünschte Lehrer wirklich nicht in der Liste auftaucht.</label>
			<br>
			<br>
			<label for="customteacherfield">Name des Lehrers (bitte eindeutig, gern mit Notiz in Klammern):</label>
			<input class="fullwidth" id="customteacherfield" name="teachername" type="text" placeholder="Frau Mustermann (En De)">
			<br>
		</div>

		<p>Admins können sehen, wer das Zitat eingesendet hat. Sobald sie es aber bestätigen wird dein Name vom Zitat entfernt.</p>
		<input type="submit" value="Einsenden">

	</form>
	<script src="/static/axios.min.js"></script>
	<script src="/static/axioshelpers.js"></script>
	<script src="/static/submit.js"></script>
</body>
</html>
